load/*
scripts/data/*
scripts/tmp_data/*
scripts/tmp_img/*
scripts/tsne/*
backup/*
scripts/demo.ipynb
scripts/.ipynb_checkpoints/*
tmp_data/*
scripts/vis/*
uploaded_models/*
data/*
scripts/__pycache__/*
scripts/dataloader/__pycache__/*
scripts/tmp_data_with_neighbor/*
scripts/tmp_data_without_neighbor/*

scripts/learning/__pycache__/*
scripts/code-sdc/__pycache__/*
scripts/code-sdc/models/__pycache__/*
